@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

html, body {
  width: 100%;
  box-sizing: 0;
  border-box: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.logo {
  max-width: 100%;
}

.pageWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  padding-left: 4em;
  background-image: url('/img/foodPattern.png');
}

.searchSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
}

.recipeSearchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.recipeSearchSubmit {
  width: 80%;
  padding: .8em;
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 1em;
  color: white;
  font-family: Archivo Black;
}

.gridSide {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  height: 100vh;
  overflow:hidden;
  margin: 0;
  padding: 0;
  width: 50%;
  position: relative;
}


.recipeSearchInput {
  padding: .7em 0em;
  font-family: Archivo Black;
  text-align: center;
  font-size: medium;
  text-transform: uppercase;
  margin-bottom: 1.3em;
  background-color: lightgrey;
  border-radius: .8em;
  color: black;
  width: 100%;
}

.recipeNotClicked {
  position: relative;
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  background-size: cover;
  cursor: pointer;
}

.recipeClicked {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-color:white;
}

.recipeContainerLarge {
  z-index: 750;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, .8);
  position: absolute;
  top: 0;
  right: 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.recipeContainerLarge img {
  width: 70%;
}

.recipeData {
  position: absolute;
  z-index: 100;
  top: 0;
  color: transparent;
  text-align: center;
  font-family: Archivo Black;
}

.recipeData:hover {
  color: black;
  background-color: rgba(255, 161, 161, .5);
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.recipeContainer {
  position: relative;
  overflow: hidden;
  width: 20%;
  height: 20%;
}

.notVisible {
  display: none;
}

.visibile {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index:500;
  background-color: rgba(0, 0, 0, .8);
  padding: 1em;
  border-radius: .5em;
}

.aboutProjectText {
  color: white;
  bottom: 10px;
  font-size: small;
  text-align:center;
  margin: 5em auto;
}

.aboutProjectText a {
  color: #9FFFFF;
  text-decoration: none;
}

.openRecipeImgHolder {
  width: 100%;
  height: 65%;
  cursor: pointer;
}

.openRecipeData {
  z-index: 1000;
  padding: 2em;
  list-style: none;
}

.openRecipeTitle a {
  font-family: Archivo Black;
  margin: .5em 0em .5em 0em;
  color: black;
  text-decoration: none;
}

.openRecipePublisher a {
  color: #9FFFFF;
  text-decoration: none;
  background-color: black;
  padding: .5em;
}

.openRecipeRank {
  margin-top: 5em;
}

.nextArrow {
  position: absolute;
  z-index: 1100;
  color: white;
  font-family: Archivo Black;
  margin: 0 auto;
  bottom: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .5);
  padding: .5em;
}
